body { background-color: #AA0000; }
header, nav { background-color: #FFFFFF; }
main, footer { background-color: yellow; }
* { color: blue; }

main mark { background-color: red; }

h1+p, h2+p, h3+p {
    font-weight: bold;
    color: white;
    background-color: black;
}